html {
    background: url(https://images.homedepot-static.com/productImages/622b55ec-1d08-4546-92af-5aff64fc547f/svn/chesapeake-wallpaper-dlr14053sam-64_1000.jpg);
}


/* Header section */
#header-wrapper {
    border-bottom: 2px solid #cccc;
    background: #ffffff;
}

#header-section {
    width: 960px;
    height: 100px;
    margin: auto;
    background: pink;
     
}

header, header .logo, header .navigation-links {
    float: left;
    height: 100%;
}

body {
    font-family: 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
}

h1, h2, h3, h3, h4, h5, h6 {
    font-family: 'Georgia', 'Times', 'Times New Roman', serif;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
}

header {
    width: 100%;
    margin: 0 auto;
    background: #ffffff;
}

header .logo {
    width: 25%;
    background: #4aaaa5;
}

header .logo h1 {
    position: relative;
    top: 37px;
    left: 25px;
}

header .navigation-links {
    width: 70%;
    text-align: right;
}

header .navigation-links a {
    position: relative;
    top: 35px;
    left: 40px;
    font-size: 20px;
    color: #777777;
    text-decoration: none;
    
}

header .navigation-links a span {
 color: #cccccc;
}

/* About me section */

#about-wrapper {
    background: #ffffff;
    width: 960px;
    margin: 40px auto;
    box-sizing: border-box;
    padding: 20px;
}

#about-wrapper h1 {
    color: #4aaaa5;
    padding: 40px 20px;
}

#about-wrapper p {
    padding: 40px 20px;
    letter-spacing: 1px;
    line-height: 1.5;
}
